<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SEMIK1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SEMIK1.Properties.Settings>
            <setting name="remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pid" serializeAs="String">
                <value/>
            </setting>
            <setting name="auth_code" serializeAs="String">
                <value/>
            </setting>
            <setting name="use_sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sound_volume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="use_tv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tv_refresh" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="offline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tv_keyword" serializeAs="String">
                <value>Microsoft Flight Simulator</value>
            </setting>
            <setting name="tv_use_keyword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tv_increment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fdr_imaging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_pmdg" serializeAs="String">
                <value/>
            </setting>
            <setting name="path_wilco" serializeAs="String">
                <value/>
            </setting>
            <setting name="path_atr" serializeAs="String">
                <value/>
            </setting>
            <setting name="path_leveld" serializeAs="String">
                <value/>
            </setting>
            <setting name="fdr_reminder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_fsplan" serializeAs="String">
                <value/>
            </setting>
            <setting name="display_warnings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auto_connect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="parking_brake_timeout" serializeAs="String">
                <value>0</value>
            </setting>
        </SEMIK1.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
